.container {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
  
    
  
}
.container__caption {
    position: relative;
}
.caption-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    animation: next 12s 0s infinite;
     
}

.caption-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    animation: next 12s 4s infinite;
}

@keyframes next {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
