.container__midle {
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 0 10px #ccc;
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: row;
    
}
@media (max-width:887px) {
    .container__midle {
        flex-direction: column;
        align-items: center; 
        box-shadow: none;
      
    }
}
.section__img{
    width: 100%;
    max-width: 300px;
    height: 300px;
    background-image: url(../mapaPolski.jpg);
    background-size: cover;
    margin: 50px;
}
@media (max-width:887px) {
    .section__img {
        margin-left: auto;
        margin-right: auto;
    }
}

.form-select {
    margin-top: 50px ;
    padding: 10px;
}

.button {
    border: none;
    padding: 10px 20px;
    background-color: rgb(121, 133, 133);
    transition: 1s;

}
.button:hover {
    background-color: rgb(43, 127, 148);
    
}